<template>
    <div>
        <h3>Asesorias programadas </h3>
        <div class="data-table">
            <div class="data-title">
                <div class="data-col">Fecha</div>
                <div class="data-col">Nombre</div>
                <div class="data-col">Apellido</div>
                <div class="data-col">Descripcion</div>
            </div>
            <div class="data-row" v-for="(gdata,index) in data" :key="index">
                <div class="data-col">{{ gdata.release_date }}</div>
                <div class="data-col">{{ gdata.director }}</div>
                <div class="data-col">{{ gdata.producer }}</div>
                <div class="data-col">{{ gdata.title }}</div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    layout: 'adminTutor',
    middleware: 'auth',
    async asyncData({ params }) {
        const { data } = await axios.get('https://ghibliapi.herokuapp.com/films/')
        return { data }
    }
}
</script>

<style lang="scss" scoped>
/* scoped is for encapsulate css*/

$num-cols: 3;
/* This CSS won't print because %equal-heights is never extended. */

%equal-grids {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px -11px rgba(0, 0, 0, 0.75);
}

.data-table {
    margin: 50px 0;
    .data-title {
        @extend %equal-grids;
        font-weight: 600;
    }
    .data-row {
        @extend %equal-grids;
        &:hover {
            box-shadow: 0px 5px 10px -8px rgba(0, 0, 0, 0.75);
            cursor: pointer;
        }
    }
    .data-col {
        padding: 8px;
        width: 100% / $num-cols;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
</style>
